<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<div th:replace="~{fragments :: head('Frontpage')}"></div>

<body>

<!--@thymesVar id="hello" type="String"-->
<!--@thymesVar id="message" type="String"-->
<!--@thymesVar id="extra" type="String"-->

<div th:replace="~{fragments :: header}"></div>

<h3 class="m-5">
    This website is for those who need inspiration in the gym, and/or who are curious
    about their muscular anatomy
</h3>

<h5 class="ml-5">Search exercises by musclename:</h5>
<form action="" class="d-flex m-3">
    <input class="form-control me-2" type="search" name="text" placeholder="Search" aria-label="Search">
    <br>
    <button class="btn btn-success" type="submit">Search</button>
</form>

<!--<div th:replace="~{fragments :: footer}"></div>-->

</body>
</html>